<section class="large-12 social-container">
	<div  class="row">
	  <div class="large-6 columns">
		 <a href="<%= user_omniauth_authorize_path('google_oauth2') %>">
		 	google plus
		 </a>

	  </div>
	<div class="large-6 columns">		
	twitter

	</div>
	</div>
<div  class="row">
	  <div class="large-6 columns">
		Facebook		
	  </div>
	<div class="large-6 columns">	
	<a href="<%= user_omniauth_authorize_path('linkedin') %>">	
	Linkedin
	</a>
	</div>
	</div>

</section>
